<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: header}"></head>
<body>
<nav th:replace="~{layout :: navbar}"></nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-light">
                    <h4 th:text="${categoryId == null} ? 'Nowa Kategoria' : 'Edycja Kategorii'">Formularz</h4>
                </div>
                <div class="card-body">

                    <form th:action="${categoryId == null} ? @{/categories/save} : @{/categories/update/{id}(id=${categoryId})}"
                          th:object="${categoryDTO}"
                          method="post">

                        <div class="mb-3">
                            <label class="form-label">Nazwa kategorii</label>
                            <input type="text" th:field="*{name}" class="form-control" placeholder="np. Praca, Dom"
                                   th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Kolor etykiety</label>
                            <input type="color" th:field="*{color}" class="form-control form-control-color"
                                   title="Wybierz kolor" style="width: 100%;">
                            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></div>
                        </div>

                        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                            <a th:href="@{/categories}" class="btn btn-secondary me-md-2">Anuluj</a>
                            <button type="submit" class="btn btn-success">Zapisz</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{layout :: scripts}"></div>
</body>
</html>